.wrapper--referencias {
  color: black;
  font-weight: 700;
  font-size: 2.2em;
  font-family: Helvetica, sans-serif;
}


.wrapper--busquedaRapida {
  color: black;
  font-weight: 700;
  font-size: 2.2em;
  font-family: Helvetica, sans-serif;
}


.wrapper--catalogo{
  color: black;
  font-weight: 700;
  font-size: 2.2em;
  font-family: Helvetica, sans-serif;
}
