.flexColChild--container__drawerSearch--col {
  padding-left: 30px;
}

.flexRow--contenedor__drawerSearch--row {
  width: 100%;
  background-color: #ebedee;
 }

 .flexRow--contenedor__drawerSearch--row :global(.vtex-input__suffix) {
    display: none;
 }

.flexRow--contenedor__drawerSearch--row :global(.vtex-input-prefix__group) {
  border: none
}
