.paragraph{
    margin: 0px;
}

.heading--titlePopularAhora {
    padding: 0px;
    margin: 0px;
    color: black;
}

.container--materialReciclados-global {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 28em;
    color: black;

}
.container--materialReciclados-global:hover {
    border-bottom: 0.4em black solid;
    cursor: pointer;
}

.container--forum-global {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 28em;
    color: black;
}
.container--forum-global:hover {
    border-bottom: 0.4em black solid;
    cursor: pointer;

}

.container--guayos-global {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 28em;
    color: black;
}
.container--guayos-global:hover {
    border-bottom: 0.4em black solid;
    cursor: pointer;
}
.container--lego-global {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 28em;
    color: black;
}
.container--lego-global:hover {
    border-bottom: 0.4em black solid;
    cursor: pointer;
}

.container--superstar-global {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 28em;
    color: black;
}
.container--superstar-global:hover {
    border-bottom: 0.4em black solid;
    cursor: pointer;
}

.container--samba-global {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 28em;
    color: black;
}
.container--samba-global:hover {
    border-bottom: 0.4em black solid;
    cursor: pointer;
}

.container--encuentraEquipo {
    margin-bottom: 0.4em;
}

.wrapper--item2 {
    background-color: blue;
    width: 00px;
}

.heading--parrafo1 {
    margin: 0px;
}

.heading--parrafo1-desktop {
    margin: 0;
    font-weight: 700;
}

.container--parrafo1-desktop {
    width: 60%;
}

.heading--parrafo3 {
    margin: 0px;
}

.heading--parrafo3-desktop {
    margin: 0;
    padding-bottom: 0 !important;
    font-weight: 700;
}

.container--parrafo3-desktop {
    width: 60%;
}

/* .heading--home__banner--frase {
    margin-top: 0em;
    font-size: 2em;
    background-color: red;
} */

.container--videoBanner__title--rt {

    color: white;
}

.container--videoBanner__frase--rt {
    color: white;
}

.wrapper--conoceMas--frase {
    width: 53em;
    height: 12.5em;
    position: absolute;
    top: 10%;
    color: white;

}

.headingLevel2--conoceMas--frase {
    position: absolute;
}

.container--item2 {
    width: 20em;
    padding: 0;
}

.headingLevel3--item2 {
    width: 20em;
}

/* .heading--conoceMas--frase{

    position: absolute;


} */
.heading--banner--title {
    font-weight: 800;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
.heading--home__banner--frase {
    font-family: Helvetica, sans-serif;

}

.label--banner__frase--hombre {
color: black;
text-decoration: none;
font-weight: 600;
}
.label--banner__frase--hombre:hover {
    color: white;
    font-weight: 700;    
}

.heading--videoBanner__frase--rt {
    font-family: Helvetica, sans-serif;
    
}

.container--quick--view--trigger {
    margin-top: 0.5rem;
    justify-content: center;
    font-weight: 700;
}

.wrapper--text__info--promo {
    margin-left: 5em;
    font-weight: 500;
    font-size: 1.1em;
    font-family: Helvetica, sans-serif;
}

.wrapper--text__productos--vistos {
    margin-bottom: 2em;
    color: black;
    font-weight: 700;
    font-size: 1.7em;
    font-family: Helvetica, sans-serif;
}

.wrapper--contenedor--titulo {
    padding-left: 1em;
}

.wrapper--contenedor--frase {
    padding-left: 1em;
}

.wrapper--text__info--promo {
    padding: 5em;
    font-weight: 500;
    font-size: 1.1em;
    font-family: Helvetica, sans-serif;
    margin: 0;
}


@media (max-width:500px) {
    .wrapper--text__info--promo {
        padding-top: 3em;
        padding: 3em;
        font-size: 1em;
    }

    .wrapper--text__productos--vistos {
        margin-bottom: 0.5em;
        font-size: 1.5em;

    }
}


@media (max-width:360px) {
    .wrapper--text__info--promo {
        padding-top: 2.5em;
        padding: 2.5em;
        font-size: 0.9em;
    }

    
    .wrapper--text__productos--vistos {
        margin-bottom: 0.5em;
        font-size: 1.3em;

    }
}
}