.paragraph{
    margin: 0px;
}

.heading--titlePopularAhora {
    padding: 0px;
    margin: 0px;
    color: black;
}

.container--materialReciclados {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 450px;
    color: black;

}
.container--materialReciclados:hover {
    border-bottom: 10px black solid;
    cursor: pointer;
}

.container--forum {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 450px;
    color: black;
}
.container--forum:hover {
    border-bottom: 10px black solid;
    cursor: pointer;
}

.container--guayos {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 450px;
    color: black;
}
.container--guayos:hover {
    border-bottom: 10px black solid;
    cursor: pointer;
}
.container--lego {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 450px;
    color: black;
}
.container--lego:hover {
    border-bottom: 10px black solid;
    cursor: pointer;
}

.container--superstar {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 450px;
    color: black;
}
.container--superstar:hover {
    border-bottom: 10px black solid;
    cursor: pointer;
}

.container--samba {
    /* background-color: red !important;  */
    border-bottom: 1px black solid;
    width: 450px;
    color: black;
}
.container--samba:hover {
    border-bottom: 10px black solid;
    cursor: pointer;
}

.container--encuentraEquipo {
    margin-bottom: 10px;
}

.wrapper--item2 {
    background-color: blue;
    width: 00px;
}