.content--emailVerification {
  display       : flex;
  flex-direction: column;
  max-width     : 28em;
  max-height    : 32em;
  align-items   : center;
  box-shadow    : 5px 5px 10px;
}

.formTitle {
  font-size  : 28px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

.termsAndConditions {
  font-size  : 15px;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}
