.flexColChild--columna--two {

    border-left: 1.5px solid #ebeff1;

}

.flexRowContent--Contenedorprincipalcolumnas .stretchChildrenWidth:first-child {
    margin-right: 110px;
}

.flexRowContent--container__icons {
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.flexRow--contenedor__icons--headerDesktop {
    align-items: center;
    margin-right: 3em;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexRow--contenedor__icons--headerDesktop .stretchChildrenWidth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexRowContent--container__icons :global(.vtex-minicart-2-x-minicartQuantityBadge){
  background-color: #1a7fb6;
}
