.menuContainer--header--desktop {

}



.menuItem--Menu-item-mujer {
    margin: 0;
    touch-action: manipulation;
    text-decoration-thickness: auto;
    text-rendering: optimizeLegibility;
}

.menuItem--Menu-item-hombre {
    margin: 0;
    touch-action: manipulation;
    text-decoration-thickness: auto;
    text-rendering: optimizeLegibility;
}

.styledLinkContainer--menu--items {
  margin: 0;
  padding: 1em 0.7em;
  font-weight: 400;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}


.styledLinkContent--Menu-item-negrita {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
}

.styledLinkContent--Menu-item-normal {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

.menuItem--Menu-item-mujer--isOpen {
    border-bottom: 2px solid black;
}

.submenuWrapper {
    background-color:white;
    width: 100%;
    height: 48%;
    position: fixed;
    border-top: 1px solid #ebeff1;
}

.menuItem--Menu-item-mujer--isOpen {
    border-bottom: 1px solid black !important;
}

.styledLinkContent--productosDestacados {
    margin-top: 1em;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}
.styledLinkContent--ropa {
    margin-top: 1em;
    font-weight: 700;
    font-family: Helvetica, sans-serif;

}

.styledLinkContent--calzado {
    margin-top: 1em;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.styledLinkContent--accesorios {
    margin-top: 1em;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.styledLinkContent--deportes {
    margin-top: 1em;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.styledLinkContent--hastaCalzado {
    color: red;
    font-weight: 700;
}

.styledLinkContent--hastaCalzadoP {
    color: red;
    font-weight: 700;
    margin-top: 1em;
}

.styledLinkContent--todos {
    margin-top: 5em;
    color: black;
    font-weight: 700;
    margin-top: 3em;
    width: 100%;
    /* border-top: 1.5px solid #ebeff1; */
}

.styledLinkContent--todos1 {
    margin-top: 40px;
    color: black;
    font-weight: 700;
    margin-top: 3em;
}
.styledLinkContainer--todos1 {
    margin-top: 6em;
}

.styledLinkContent--todos2 {
    margin-top: 5em;
    color: black;
    font-weight: 700;
    margin-top: 3em;
    width: 100%;
    /* border-top: 1.5px solid #ebeff1; */
}
.styledLinkContainer--todos2 {
    margin-top: 0.5em;

}

.styledLinkContent--todos3 {
    margin-top: 5em;
    color:black;
    font-weight: 700;
    margin-top: 3em;
    width: 100%;
    /* border-top: 1.5px solid #ebeff1; */
}
.styledLinkContainer--todos3 {
    margin-top: 6.5em;
}

.styledLinkContent--todos4 {
    margin-top: 5em;
    color: black;
    font-weight: 700;
    margin-top: 3em;
    width: 100%;
    /* border-top: 1.5px solid #ebeff1; */
}
.styledLinkContainer--todos4 {
    margin-top: 6.5em;
}

.styledLinkContent--todos5 {
    margin-top: 5em;
    color: black;
    font-weight: 700;
    margin-top: 3em;
    width: 100%;
    /* border-top: 1.5px solid #ebeff1; */
}
.styledLinkContainer--todos5 {
    margin-top: 6.5em;
}
