.flexRow--home__popularAhora {
  margin-top: 5rem;
}

.flexRow--equiposFutbol {
  background-color: #ebedee;
  height          : 9.375rem;
  margin-top      : 1.25rem;
  margin-bottom   : 1.25rem;
  padding-top     : 1.25rem;
}

.flexRow--novedadesSecciones {
  margin: 3rem 0px 2rem 0px;
}

.flexRow--container__novedades--item1 {
  padding: 0px;
}

.flexRow--contenedorConoceMas {
  margin-top: 4.375rem;
  position  : relative;
}

.flexRow--contenedorHistoria {
  margin-top      : 4.375rem;
  margin-bottom   : 4.375rem;
  background-color: #f5f5e5;
  padding         : 6.25rem 0px 6.25rem 0px;
}

.flexRow--descuentos {
  padding         : 1.8rem;
  background-color: #EDE734;
  height          : 10em;
  align-items     : center;
}

.flexRow--home__banner--one {
  position: relative;
}

.flexCol--banner__descuentos {
  width   : 25%;
  height  : 20%;
  position: absolute;
  top     : 30%;
  left    : 8%;
}

.flexRowContent--descuentos {
  align-items: center;
  height     : 7em;
  padding    : 1em 2em;
}

.flexRowContent--descuentos .stretchChildrenWidth:first-child {
  width          : 70% !important;
  justify-content: flex-end;
}

.container--Container__descuentos {
  justify-content: flex-end;
  width          : 100%;
}

.flexRow--videoBanner__row {
  position: relative;
}

.flexCol--videoBanner--items {
  /* background-color: red; */
  width   : 25%;
  height  : 20%;
  position: absolute;
  top     : 30%;
  left    : 8%;
  color   : white;
}

.flexCol--home__novedades--secciones {
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.flexRowContent--novedadesSecciones {
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
}

.flexCol--home__novedades--secciones {
  width: 17em !important;
}

.flexCol--home__novedades--seccion2--rt {
  width: 30em !important;
}

.flexRowContent--home__opciones {
  display        : flex;
  justify-content: space-between;
  align-content  : center;
}

.flexRowContent--seccionImagenEquipos {
  display       : flex;
  flex-direction: row;
}


.flexRowContent--home__popularAhora {

}

.flexCol--contenedor__popular1 {
  /* margin: 0 1em; */
}
