.flexCol--mobile__container--banner {
  position: relative;
}

.flexCol--mobile__banner--descuentos {
  position   : absolute;
  top        : 57%;
  height     : 0em;
  margin-top : 1.5em;
  margin-left: 1em;
  height     : 17em !important;
  width      : 16em !important;
}

.flexColChild--mobile__banner--descuentos {
  width     : 16em;
  height    : 4em !important;
  margin-top: 1em;
}

.flexColChild--mobile__banner--descuentos {
  margin-top: 1em;
}

.flexCol--mobileConainer__videoBanner {
  position     : relative;
  margin-bottom: 2em;
}

.flexCol--mobile__videoBanner--items {
  width      : 12em;
  margin-left: 2em;
  position   : absolute;
  top        : 30%;
  height     : auto;
}

.flexRowContent--mobile__home__popularAhora {
  width: 100%;
}

.flexCol--mobile__seccionesEquipos {
  margin-top      : 2em;
  background-color: #ebedee;
}

.flexRowContent--mobileseccionImagenEquipos {
  margin-left: 1em;
  width      : 75%;

}

.flexRowContent--mobile__novedadesSecciones {
  margin-top: 4em;

}

.flexRowContent--mobile__novedadesItems {
  width          : 12em;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: flex-start;
}

.flexCol--mobile__contenedorHistoria {
  padding: 4em 0.5em;
}

.flexCol--mobile__parrafo3--contendor {
  height: 2em;
}

.flexRow--mobile__container__novedades--arrow {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
}

.flexRow--mobile__container__novedades--item1 {
  width: 6.5em !important;
}

.flexRow--mobile__novedades--link {
  margin-top   : 3em;
  margin-bottom: 3em;
}

.flexRow--mobile__contenedorConoceMas {
  margin-top: 4em;
}

.flexRowContent--mobile__contenedorConoceMas {
  position: relative;
}

.flexRow--mobile__Container--opinion--fl {
  background-color: #ebedee;
}

.flexRow--mobile__descuentos {
  background-color: #ede734;
  justify-content : center;
  /* margin-top   : 2em; */
}

.flexRowContent--iniciarSesion__opciones {
  justify-content: center;
}

.flexRowContent--iniciarSesion__opciones {
  display       : flex;
  flex-direction: row;
}

.container--descuentas--frases-rt {
  justify-content: center;

}

.flexRowContent--mobile__descuentos {
  flex-direction: column;
  align-items   : center;
  width         : 100%;
  padding       : 2em 1em;
}

.flexRowContent--mobile__descuentos .stretchChildrenWidth:first-child {
  width          : 100% !important;
  justify-content: center;

}

.flexRowContent--containe__volverArriba {
  flex-direction: row;
  flex-wrap     : nowrap;
  width         : 14em;
  align-items   : center;
}

.flexRowContent--containe__volverArriba .stretchChildrenWidth:first-child {
  width: 30% !important;
}

.flexRowContent--iniciarSesion__opciones {
  display       : flex;
  flex-direction: row;
}

.flexCol--mobile__contenedorHistoria {
  margin-top      : 3em;
  background-color: #f5f5e5;
}

.flexColChild--mobile__contenedorHistoria {
  width       : 90%;
  padding-left: 2em;
}

.flexRowContent--mobile__Container--opinion--fl {
  margin-top: 3em;
}

.flexColChild--seccion1--title {
  font-weight   : 600;
  padding-top   : 0.5em;
  padding-bottom: 0.5em;
}

.flexColChild--seccion2--volverArriba {
  background-color: white;
  margin-top      : 1em;
}

.flexRow--containe__volverArriba {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  height        : 2.5em;

}

.flexRowContent--contenedorInciarSesion {
  display         : flex;
  flex-direction  : row;
  align-items     : center;
  height          : 3em;
  background-color: black;
}

/* .flexRow--contenedor__opciones--row {
    padding: 0 !important;
} */

.loadingOverlay--Contenedor__Search {
  padding: 0;
}


.flexRow--containe__volverArriba {
  justify-content: center;
}

@media (max-width:1024px) {
  .container--descuentas--frases-rt {
    justify-content: center;
  }
}

@media (max-width: 1020px) {

  .flexRow--contenedor__product--list {
    margin-top: 3em;
  }

}

@media (max-width: 710px) {
  .flexCol--mobile__container--banner {
    position: relative;
  }

  .flexCol--mobile__banner--descuentos {
    position   : absolute;
    top        : 45% !important;
    height     : 0em;
    margin-top : 1.5em;
    margin-left: 1em;

    height: 17em !important;
    width : 16em !important;
  }

  .flexCol--contenedor__columna--opinion {
    width: 100% !important;
  }

}

.flexCol--mobile__banner--descuentos {
  position   : absolute;
  top        : 57%;
  height     : 0em;
  margin-top : 1.5em;
  margin-left: 1em;

}

@media (max-width: 695px) {
  .flexCol--mobile__contenedorHistoria {
    padding: 2em 0.5em;
  }

  .flexCol--mobile__historia__parrafo1 {
    margin-bottom: 2em;
  }
}


@media (max-width: 640px) {
  .flexCol--mobile__contenedorHistoria {
    padding: 2em 0.5em;
  }

  .flexCol--mobile__historia__parrafo1 {
    margin-bottom: 2em;
  }

  .flexCol--mobile__parrafo3--contendor {
    margin-bottom: 3em;
  }


}

@media (max-width: 600px) {
  .flexCol--mobile__contenedorHistoria {
    padding: 2em 0.5em;
  }

  .flexCol--mobile__historia__parrafo1 {
    margin-bottom: 2em;
  }

  .flexCol--mobile__parrafo3--contendor {
    margin-bottom: 4em;
  }

  .flexCol--mobile__banner--descuentos {
    position   : absolute;
    top        : 40% !important;
    height     : 0em;
    margin-top : 1.4em;
    margin-left: 1em;

    height: 17em !important;
    width : 16em !important;
  }


}

@media (max-width: 500px) {

  .flexCol--mobile__banner--descuentos {
    position   : absolute;
    top        : 30% !important;
    height     : 0em;
    margin-top : 1.3em;
    margin-left: 1em;

    height: 16em !important;
    width : 17em !important;
  }

  .flexCol--mobile__contenedorHistoria {
    padding: 2em 0.5em;
  }

  .flexCol--mobile__historia__parrafo1 {
    margin-bottom: 3em;
  }

  .flexCol--mobile__parrafo3--contendor {
    margin-bottom: 6em;
  }


}

@media (max-width: 500px) {

  .flexCol--mobile__banner--descuentos {
    position   : absolute;
    top        : 25% !important;
    height     : 0em;
    margin-top : 1.1em;
    margin-left: 1em;

    height: 17em !important;
    width : 17em !important;
  }
}

@media (max-width: 400px) {

  .flexCol--mobile__banner--descuentos {
    position   : absolute;
    top        : 16% !important;
    height     : 0em;
    margin-top : 1em;
    margin-left: 1em;

    height: 17em !important;
    width : 17em !important;
  }

  .flexCol--mobile__contenedorHistoria {
    padding: 2em 0.5em;
  }

  .flexCol--mobile__historia__parrafo1 {
    margin-bottom: 6em;
  }

  .flexCol--mobile__parrafo3--contendor {
    margin-bottom: 8em;
  }


}

@media (max-width: 350px) {

  .flexCol--mobile__banner--descuentos {
    position   : absolute;
    top        : 14% !important;
    height     : 0em;
    margin-top : -0.5em;
    margin-left: 1em;

    height: 17em !important;
    width : 17em !important;
  }

  .flexCol--mobile__contenedorHistoria {
    padding: 2em 0.5em;
  }

  .flexCol--mobile__historia__parrafo1 {
    margin-bottom: 9em;
  }

  .flexCol--mobile__parrafo3--contendor {
    margin-bottom: 10em;
  }




}
