.container--title50descuento {
    width: 15em;
}

.headingLevel3 {
    margin-top: 0em;
    margin-bottom: 0em;
    color: black;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

<<<<<<< Updated upstream
=======
/* .headingLevel3--title50descuento {
font-size: ;
}  */

>>>>>>> Stashed changes
.heading--banner__frase--rt {
    margin-top: 0em;
    margin-bottom: 0em;
    color: black;
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;

}


.wrapper--mobile__videoBanner__frase--rt {
margin-top: 0.5em;
margin-bottom: 1.5em;

}

.headingLevel2--mobile__videoBanner__title--rt {
    color: white;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 2.1em;
}

.headingLevel3--mobile__videoBanner__frase--rt {
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
}

.heading--titlePopularAhora {
    margin: 1em 0em 1em 0em;
}

.heading--materialReciclados {
    margin: 0em;
    padding-bottom: 0.3em;

}

.container--materialReciclados {
    width: 100%;
    border-bottom: 1px solid black;
}

.heading--forum {
    margin: 0.3em 0em 0em 0em;
    padding-bottom: 0.3em;
}

.container--forum {
    width: 100%;
    border-bottom: 1px solid black;
}

.heading--guayos {
    margin: 0.3em 0em 0em 0em;
    padding-bottom: 0.3em;
}

.container--guayos {
    width: 100%;
    border-bottom: 1px solid black;
}

.heading--lego {
    margin: 0.3em 0em 0em 0em;
    padding-bottom: 0.3em;
}

.container--lego {
    width: 100%;
    border-bottom: 1px solid black;
}

.heading--superstar {
    margin: 0.3em 0em 0em 0em;
    padding-bottom: 0.3em;
}

.container--superstar {
    width: 100%;
    border-bottom: 1px solid black;
}

.heading--samba {
    margin: 0.3em 0em 0em 0em;
    padding-bottom: 0.3em;
}

.container--samba {
    width: 100%;
    border-bottom: 1px solid black;
}

.paragraph--encuentraEquipo {
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    height: auto;
}

.headingLevel3--mobile__item1{
    font-size: 1.1em;
    
}

.headingLevel3--mobile__item2{
    font-size: 1.1em;
    
}

.headingLevel3--mobile__item3{
    font-size: 1.1em;
}

.headingLevel3--mobile__conoceMas--frase {
    margin: 0em;
    font-size: 1.7em;
    width: 50%;
    color: white;
    position:absolute;
    top: 10%;
    left: 30%;
}

.headingLevel2--parrafo1 {
    margin-top: 2em;
    width: auto;
    
}


.headingLevel2--mobile__parrafo3 {
    width: auto;
    margin: 0;
    margin-bottom: 0em;
    height: 2em;
}

/* .paragraph--mobile__parrafo4 {
    margin-bottom: 1em;
} */

.container--iniciarSesion--rt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.container--tuCarrito--rt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}