.flexRow--footer__contenedor--desktop {
    background-color: white;
    height: 32em;
}
/* 
.flex-layout.row#footer-desktop--seccion2 {
    background-color:#363738 ;
} */
.flexRow--secciones1y2 {
    background-color:#363738;

}
.flexRowContent--secciones1y2 {
    color: white;
}

.flexCol--contenedor__secciones {

color: yellow;
}

.flexColChild--contenedor__secciones {
    color: white;
}



